#name: CI-CD Pipeline

#on:
#  push:
#    branches: main

#jobs:
#  build-js:
#    name: Build Js/Css
#    runs-on: ubuntu-20.04
#    steps:
#      - uses: actions/checkout@v1
#      - name: Yarn Build
#        run: |
#          yarn install
#          yarn prod
#          cat public/mix-manifest.json # See asset versions in log
#      - name: Upload build files
#        uses: actions/upload-artifact@v2
#        with:
#          name: assets
#          path: public
#          retention-days: 1
#  test-php:
#    name: Test/Lint PHP
#    runs-on: ubuntu-20.04
#    needs: build-js
#    steps:
#      - uses: actions/checkout@v1
#      - name: Setup PHP
#        uses: shivammathur/setup-php@master
#        with:
#          php-version: '7.4' # Use your PHP version
#          extensions: mbstring, bcmath # Setup any required extensions for tests
#          #ini-values: post_max_size=256M, max_execution_time=180
#          #coverage: xdebug        
#          #tools: php-cs-fixer
#      - name: Composer install
#        run: composer install
#  deploy:
#    name: Deploy to Production
#    runs-on: ubuntu-20.04
#    needs: [build-js, test-php]
#    if: github.ref == 'refs/heads/main'
#    steps:
#      - uses: actions/checkout@v1
#      - name: Download build assets
#        uses: actions/download-artifact@v2
#        with:
#          name: assets
#          path: public
#      - name: Setup PHP
#        uses: shivammathur/setup-php@master
#        with:
#          php-version: '7.4'
#          extensions: mbstring, bcmath
#      - name: Composer install
#        run: composer install
#      - name: Setup Deployer
#        uses: atymic/deployer-php-action@master
#        with:
#          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
#          ssh-known-hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
#      - name: Deploy 
#        env:
#          DOT_ENV: ${{ secrets.DOT_ENV }}
#        run: dep deploy staging --tag=${{ env.GITHUB_REF }} -vvv
